body * {
  font-family: Rawline;
}

.flex {
  display: flex
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.spaceBetween {
  justify-content: space-between
}

.alignCenter {
  align-items: center;
}

@font-face {
  font-family: Rawline;
  src: url("./Assets/Fonts/rawline-200.ttf");
}